<div class="row justify-content-center">
    <div class="col-8">
        <div *ngIf="contentType">
            <h2><span jhiTranslate="cmsGatewayApp.contentType.detail.title">Content Type</span> {{ contentType.id }}</h2>

            <hr>

            <jhi-alert-error></jhi-alert-error>

            <dl class="row-md jh-entity-details">
                <dt><span jhiTranslate="cmsGatewayApp.contentType.name">Name</span></dt>
                <dd>
                    <span>{{ contentType.name }}</span>
                </dd>
                <dt><span jhiTranslate="cmsGatewayApp.contentType.slug">Slug</span></dt>
                <dd>
                    <span>{{ contentType.slug }}</span>
                </dd>
                <dt><span jhiTranslate="cmsGatewayApp.contentType.state">State</span></dt>
                <dd>
                    <span>{{ contentType.state }}</span>
                </dd>
                <dt><span jhiTranslate="cmsGatewayApp.contentType.description">Description</span></dt>
                <dd>
                    <span>{{ contentType.description }}</span>
                </dd>
                <dt><span jhiTranslate="cmsGatewayApp.contentType.createdAt">Created At</span></dt>
                <dd>
                    <span>{{ contentType.createdAt }}</span>
                </dd>
                <dt><span jhiTranslate="cmsGatewayApp.contentType.updatedAt">Updated At</span></dt>
                <dd>
                    <span>{{ contentType.updatedAt }}</span>
                </dd>
                <dt><span jhiTranslate="cmsGatewayApp.contentType.createdBy">Created By</span></dt>
                <dd>
                    <span>{{ contentType.createdBy }}</span>
                </dd>
                <dt><span jhiTranslate="cmsGatewayApp.contentType.updatedBy">Updated By</span></dt>
                <dd>
                    <span>{{ contentType.updatedBy }}</span>
                </dd>
            </dl>

            <button type="submit"
                    (click)="previousState()"
                    class="btn btn-info">
                <fa-icon icon="arrow-left"></fa-icon>&nbsp;<span jhiTranslate="entity.action.back">Back</span>
            </button>

            <button type="button"
                    [routerLink]="['/content-type', contentType.id, 'edit']"
                    class="btn btn-primary">
                <fa-icon icon="pencil-alt"></fa-icon>&nbsp;<span jhiTranslate="entity.action.edit">Edit</span>
            </button>
        </div>
    </div>
</div>
